{% extends 'base.html.twig' %}

{% block title %}
    Evenement | {{ parent() }}
{% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 ">

            {{ form_start(evenementForm) }}
            <div class="mt-3"></div>
                <div class="input-wrapper">
                    <div class="form-group">
                        <p class="mb-3 font-question">{{ form_label(evenementForm.lieuDestination) }}</p>
                        <p>{{ form_widget(evenementForm.lieuDestination) }}</p>
                        <small id="emailHelp" class="form-text text-muted">{{ form_errors(evenementForm.lieuDestination) }}</small>
                        <a href="" class="btn btn-success mt-2">Aucune de ces propositions</a>
                    </div>
                </div>
                <div class="input-wrapper">
                    <div class="form-group">
                        <p class="mb-3 font-question"> {{ form_label(evenementForm.nom) }}</p>
                        <p>{{ form_widget(evenementForm.nom) }}</p>
                        <small id="emailHelp" class="form-text text-muted">{{ form_errors(evenementForm.nom) }}</small>
                    </div>
                </div>
                <div class="input-wrapper">
                    <div class="form-group">
                        <p class="mb-3 font-question">{{ form_label(evenementForm.description) }}</p>
                        <p>{{ form_widget(evenementForm.description) }}</p>
                        <small id="emailHelp" class="form-text text-muted">{{ form_errors(evenementForm.description) }}</small>
                    </div>
                </div>
                <div class="input-wrapper">
                    <div class="form-group">
                        <p class="mb-3 font-question">{{ form_label(evenementForm.dateHeureDebut) }}</p>
                        <p>{{ form_widget(evenementForm.dateHeureDebut) }}</p>
                        <small id="emailHelp" class="form-text text-muted">{{ form_errors(evenementForm.dateHeureDebut) }}</small>
                    </div>
                </div>
                <div class="input-wrapper">
                    <div class="form-group">
                        <p class="mb-3 font-question">{{ form_label(evenementForm.dateHeureLimiteInscription) }}</p>
                        <p>{{ form_widget(evenementForm.dateHeureLimiteInscription) }}</p>
                        <small id="emailHelp" class="form-text text-muted">{{ form_errors(evenementForm.dateHeureLimiteInscription) }}</small>
                    </div>
                </div>
                <div class="input-wrapper">
                    <div class="form-group">
                        <p class="mb-3 font-question">{{ form_label(evenementForm.nbInscriptionsMax) }}</p>
                        <p>{{ form_widget(evenementForm.nbInscriptionsMax) }}</p>
                        <small id="emailHelp" class="form-text text-muted">{{ form_errors(evenementForm.nbInscriptionsMax) }}</small>
                    </div>
                </div>
                <div class="input-wrapper">
                    <div class="form-group">
                        <p class="mb-3 font-question">{{ form_label(evenementForm.tarif) }}</p>
                        <p>{{ form_widget(evenementForm.tarif) }}</p>
                        <small id="emailHelp" class="form-text text-muted">{{ form_errors(evenementForm.tarif) }}</small>
                    </div>
                </div>
                <div class="input-wrapper">
                        <div class="form-group">
                            <p class="mb-3 font-question">{{ form_label(evenementForm.photo) }}</p>
                            <p>{{ form_widget(evenementForm.photo) }}</p>
                            <small id="emailHelp" class="form-text text-muted">{{ form_errors(evenementForm.photo) }}</small>
                        </div>
                </div>

                    <div class="d-flex align-items-center justify-content-center">
                        <button class="btn btn-primary btn-lg mt-3">Créer l'évènement</button>
                    </div>

            {{ form_end(evenementForm) }}

                    <br>

{#                    <div class="card bg-light mb-3">#}
{#                        <div class="card-header">Lorem</div>#}
{#                        <div class="card-body">#}
{#                            <h4 class="card-title">Etape 1</h4>#}
{#                            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#                                Alias assumenda at autem corporis doloremque ea et exercitationem#}
{#                                laboriosam maiores maxime necessitatibus nobis optio provident quasi#}
{#                                recusandae reiciendis, rem repellat rerum, sapiente sit soluta vel#}
{#                                voluptas voluptatem voluptatibus voluptatum. Ipsa, minus.</p>#}
{#                        </div>#}
{#                    </div>#}

{#            <button class="btn btn-primary">Ajouter une étape</button>#}
        </div>
        <div class="col-md-3"></div>
    </div>

</div>

{% endblock %}